<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3 py-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-flex" href="users2">
                <span class="bi bi-list-columns-reverse" aria-hidden="true"></span> Utilisateurs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-flex" href="userSearch">
                <span class="bi bi-search" aria-hidden="true"></span> Rechercher
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-flex" href="addUser">
                <span class="bi bi-person-plus" aria-hidden="true"></span> Ajouter
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
