@page "/users"
@using BlazorApp1.Models
@using BlazorApp1.Services

@inject IService<Utilisateur> UtilisateurService

<PageTitle>Utilisateurs</PageTitle>

<h1>Utilisateurs</h1>

@if (utilisateurs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in utilisateurs)
            {
                <tr>
                    <td>@user.Nom</td>
                    <td>@user.Prenom</td>
                    <td>@user.Mail</td>
                    <td>@user.Mobile</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Utilisateur> utilisateurs;

    protected override async Task OnInitializedAsync()
    {
        utilisateurs = await UtilisateurService.GetAllAsync("api/Utilisateurs");
    }

}
